* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;
    background-color: #EAEAEA;
    display: flex;
}

.grid1 {
    width: 20vw;
    background-color: white;
    height: 100vh;
    border-right: 1px solid #EAEAEA;
}

.grid2 {
    width: 80vw;
    height: 100vh;
}

.header {
    height: 70px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    height: 80px;
    width: 100%;
    padding: 12px;
}

.logo img {
    width: 60%;
    margin: auto;
}

.sidebar {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar li {
    text-align: left;
    /* color: gray; */
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
}

.item_container {
    display: flex;
    width: 70%;
    text-align: left;
    text-decoration: none;
    color: #232323;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.item_container i {
    margin-right: 6px;
}



.active {
    background-color: #F5F6FA;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    color: #F8991D;
    border-left: 5px solid #F8991D;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.search_bar {
    height: 2.4em;
    width: 30%;
    background-color: #F5F6FA;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
}

.search_bar input {
    width: 90%;
    height: 2.4em;
    border: none;
    background-color: transparent;
}

.search_bar input:focus {
    outline: none;
}